@charset "utf-8";
/* CSS Document */

.clock {
  height: 40px;
  color: #000;
  font-size: 40px;
  font-family: sans-serif;
  line-height: 42px;
  display: flex;
  position: relative;
  /*background: green;*/
  overflow: hidden;
}

.clock::before, .clock::after {
  content: '';
  width: 7ch;
  height: 32.4px; /* 3vh converted to pixels */
  position: absolute;
  z-index: 2;
}

.clock::after {
  bottom: 0;
}


.clock > div {
  display: flex;
}

.tick {
  line-height: 36px;
}

.tick-hidden {
  opacity: 0;
}

.move {
  animation: move linear 1s infinite;
}

@keyframes move {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-48px);
  }
}
