@charset "utf-8";
/* CSS Document */

.player-container {
            position: fixed;
            bottom: 0;
            width: 100%;
            background: #222;
            color: white;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .music-info {
			display: flex;
            align-items: center;
			font-size: 20px;
        }
        .music-info img {
			position: absolute;
            width: 150px;
            height: 150px;
            margin-right: 10px;
            border-radius: 5px;
			bottom: 10px;
        }
.leftspace {
	padding-left: 170px;
}

        .controls button {
            background: none;
            border: none;
            color: white;
            font-size: 18px;
            cursor: pointer;
        }
        .music-list {
            position: absolute;
			color: #fff;
            top: 70px;
            width: 100%;
            background: #333;
            padding: 10px;
            /*max-height: 150px;*/
            overflow-y: auto;
        }
        .music-list div {
            padding: 5px;
            cursor: pointer;
        }
        .music-list div:hover {
            background: #444;
        }
 .music-list .playing {
            background: #555;
            font-weight: bold;
        }

@media only screen and (max-width: 768px) {
	.music-list {
    top: 176px;
	}
	
	.music-info {
		padding-bottom: 40px;
		font-size: 15px;
	}
	
	.controls{
	position: absolute;
    right: 10px;
	bottom: 10px;
	}
	
}

